body {
    font-family:  sans-serif;
    background-color: #1F4D91;
  }
  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 36px 30px 36px 30px;
    border-radius: 20px;
    width: 20%;
    font-family: sans-serif;
  }
  .heading{
    text-align: center;
    padding: 0px 0px 5px 0px;
  }
  .signin{
    text-align: center;
  }
  input {
    border: 1px solid #ccc;
    border-radius: .1875rem;
    box-sizing: border-box;
    display: block;
    font-size: .875rem;
    margin-bottom: 1rem;
    padding: .275rem;
    width: 100%;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
            appearance: checkbox;
    display: inline-block;
    width: auto;
  }
  
  input[type="password"] {
    margin-bottom: .5rem;
  }
  
  input[type="submit"] {
    background-color: #015294;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  
  label {
    color: #666;
    font-size: .875rem;
  }